<!doctype html>
<html lang="en">
  <head>
    <title>Sentiment Analyzer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Sentiment Analyzer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
  </div>
</nav>
    <main role="main">

  <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"> Sentiment Analyzer</h1>
          <p>by Emre Tokyüz<p>
          <p>
          <a class="btn btn-dark btn-lg" href="https://gitlab.com/EmreTokyuez/matura-sentiment-analysis" role="button">Source Code »</a>
          <p>
        </div>
    </div>  
  </div>
<style type="text/css">
.custom-centered{
 margin:0 auto;
 width:300px;
}
</style>
<div class="container-fluid">
        <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-2">
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" class="form-control" id="text" name="text" placeholder="Input your text" />
        </form>
    </div>
    <div class="col-md-2">
      <h3 class="text-center">Lexicon</h3>
        <p class="text-center">{{lexicon_prediction}} </p>
    </div>
    <div class="col-md-2">
      <h3 class="text-center">Naive-Bayes</h3>
        <p class="text-center">{{ naive_prediction }} </p>
        <p class="text-center"> {{ naive_prediction_idf }}</p>
    </div>
    <div class="col-md-2">
      <h3 class="text-center"> Logistic Regression</h3>
        <p class="text-center">{{logistic_prediction }}</p>
        <p class="text-center"> {{logistic_prediction_idf }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <h3 class="text-center">LSTM Model</h3>
        <p class="text-center"> {{ lstm_prediction}} </p>
    </div>
    <div class="col-md-2">
      <h3 class="text-center"> CNN Model</h3>
        <p class="text-center"> {{ cnn_prediction }}</pclass>
    </div>
    <div class="col-md-2">
      <h3 class="text-center">Transformers Model</h3>
        <p class="text-center">  {{ transformer_prediction }}</p>
    </div>

        
  </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

